.social-login
    a(href=routes.github).btn.is-full.social-login--github
        span
            i.fab.fa-github 
        | Continue with Github
    a(href=routes.facebook).btn.is-full.social-login--facebook
        span
            i.fab.fa-facebook 
        | Continue with Facebook
