extends layouts/main

block content
    .form-container
        form(action=routes.postChangePassword, method="post")
            input(type="password", name="oldPassword", placeholder="Password", required=true)
            input(type="password", name="newPassword", placeholder="New Password", required=true)
            input(type="password", name="newPassword2", placeholder="Verify Password", required=true)
            input.btn(type="submit", value="Change Password")